// bower:scss
// endbower

@font-face {
  src: url("../fonts/Geometria.woff");
  font-family: "Geometria";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Geometria-Light.woff");
  font-family: "Geometria";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/Geometria-Medium.woff");
  font-family: "Geometria";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Geometria-Bold.woff");
  font-family: "Geometria";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Geometria-Heavy.woff");
  font-family: "Geometria";
  font-weight: 900;
}

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/11678.otf");
  font-weight: 400;
}

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/11676.otf");
  font-weight: 700;
}

@font-face {
  font-family: "MADE Evolve Sans";
  src: url("../fonts/11684.otf");
  font-weight: 300;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "MADE Evolve Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.y-top {
  display: block;
  position: relative;
  width: 100%;
  min-height: 800px;
  padding: 5px 0 90px 0;
  background: url("../images/top_bg.png") no-repeat center top -33px;
  .container {
    position: relative;
    z-index: 1;
  }
  &__title {
    display: block;
    position: relative;
    margin: -25px auto 0;
    color: #f5b9cb;
    font-family: "Geometria";
    font-size: 225px;
    font-weight: 900;
    line-height: 0.88;
    text-transform: uppercase;
    letter-spacing: 2.56px;
    text-align: center;
  }
  &__subtitle {
    display: block;
    position: relative;
    width: 100%;
    margin: -105px auto 85px auto;
    color: #502842;
    font-family: "MADE Evolve Sans";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 15.41px;
    text-align: center;
  }
  &__what {
    display: block;
    margin: 0 0 25px 0;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 40px;
    font-weight: 400;
  }
  &__prep {
    display: block;
    position: relative;
    max-width: 600px;
    margin: 0 0 40px 0;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 30px;
    font-weight: 700;
    b,
    strong,
    span {
      font-size: 50px;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 725px;
      height: 142px;
      background: url("../images/title_bg_1.png") no-repeat center;
      z-index: -1;
      left: -73px;
      top: -22px;
    }
  }
  &__get {
    display: block;
    max-width: 485px;
    margin: 0 0 10px 0;
    color: #502842;
    font-family: "MADE Evolve Sans";
    font-size: 30px;
    font-weight: 700;
  }
  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 480px;
    ::placeholder {
      color: #bfbfbf;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 14px;
      border: 0;
      outline: 0;
      border-radius: 7px;
      background-color: #ffffff;
      color: #000000;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &__button {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 14px;
    border-radius: 7px;
    background: #502842;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #b9779f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__vk {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 14px;
    border-radius: 7px;
    background: #5181b8;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    i {
      display: inline;
      margin-right: 10px;
      font-size: 18px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #6997cc;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__or {
    display: block;
    width: 100%;
    padding: 18px 0;
    background: url("../images/title_bg_3.png") no-repeat center;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}

.y-lessons {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 100px 0;
  .container {
    position: relative;
    z-index: 1;
  }
  &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 20px 0 30px 0;
    color: #5f5f5f;
    font-family: "MADE Evolve Sans";
    font-size: 35px;
    font-weight: 700;
    img {
      display: inline-block;
      margin-right: 6px;
    }
  }
  &__main {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    &:before {
      display: block;
      position: absolute;
      content: "";
      width: 407px;
      height: 370px;
      left: -310px;
      top: -105px;
      background: url("../images/lessons_before.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 210px;
      height: 105px;
      right: -165px;
      top: -130px;
      background: url("../images/lessons_after.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    .nav-pills {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      width: 100%;
      max-width: 340px;
    }
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 16px 12px 12px 12px;
    border: 1px solid #de95aa;
    background-color: #fceaef;
    color: #7f4c6d;
    text-align: center;
    &.active {
      background: #de95aa !important;
      color: #ffffff !important;
    }
    &:first-child {
      border-radius: 6px 0 0 0;
    }
    &:last-child {
      border-radius: 0 0 0 6px;
    }
    &-title {
      display: block;
      max-width: 225px;
      margin: 0 0 6px 0;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 700;
    }
    &-text {
      display: block;
      max-width: 225px;
      margin: 0;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 400;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #de95aa;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    min-height: 600px;
    padding: 30px;
    border-radius: 0 6px 6px 6px;
    background: #de95aa;
    color: #ffffff;
    &-image {
      display: block;
      width: 100%;
      max-width: 330px;
      height: 330px;
      object-fit: cover;
    }
    &-title {
      display: block;
      margin: 0 0 12px 0;
      color: #ffffff;
      font-family: "MADE Evolve Sans";
      font-size: 30px;
      font-weight: 700;
    }
    &-subtitle {
      display: block;
      margin: 0 0 12px 0;
      color: #ffffff;
      font-family: "MADE Evolve Sans";
      font-size: 25px;
      font-weight: 700;
    }
    &-button {
      display: inline-block;
      margin-top: 30px;
      padding: 14px 25px;
      border-radius: 7px;
      background-color: #f5b9cb;
      color: #ffffff;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background-color: #ffc6d7;
        color: #ffffff;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      color: #ffffff;
      font-family: "MADE Evolve Sans";
      font-size: 22px;
      font-weight: 400;
      li {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 14px;
        padding-left: 30px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          width: 7px;
          height: 7px;
          left: 12px;
          top: 10px;
          background: url("../images/icon_li.png") no-repeat center;
          background-size: contain;
        }
      }
    }
  }
}

.y-author {
  display: block;
  position: relative;
  width: 100%;
  min-height: 1250px;
  padding: 100px 0 85px 0;
  background: url("../images/author_bg.png") no-repeat center top;
  &__title {
    display: block;
    margin: 0 0 6px 0;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 35px;
    font-weight: 400;
  }
  &__name {
    display: block;
    margin: 0 0 12px 0;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 35px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 270px;
    border-radius: 999rem;
    object-fit: cover;
  }
  &__stars {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0 80px 0;
  }
  &__star {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 260px;
    img {
      display: inline-block;
      margin-right: 10px;
    }
    color: #f5b9cb;
    font-family: "MADE Evolve Sans";
    font-size: 16px;
    font-weight: 700;
    &-text {
      display: inline-block;
      margin: 0;
    }
  }
  &__columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 230px;
    &-image {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 4px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        &:before {
          opacity: 1;
        }
        text-decoration: none;
      }
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        background-color: rgba(224, 156, 176, 0.39);
      }
    }
  }
}

.y-reviews {
  display: block;
  position: relative;
  width: 100%;
  min-height: 930px;
  padding: 80px 0 65px 0;
  background: url("../images/reviews_bg.png") no-repeat center top 25px;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 0 auto 38px auto;
    padding: 30px 105px;
    background: url("../images/title_bg_2.png") no-repeat center;
    background-size: 100% 100%;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    .slick-dots li button:before {
      display: none;
    }
    .slick-dots li button {
      width: 17px;
      height: 17px;
      border: 1px solid #7f4869;
      border-radius: 999rem;
      background-color: transparent;
    }
    .slick-active button {
      background: #7f4869 !important;
    }
    .slick-next,
    .slick-prev {
      top: 52%;
      width: 31px;
      height: 45px;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.7;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      right: 0;
      margin-right: -90px;
      background: url("../images/icon_slick_right.png") no-repeat center;
      background-size: contain;
    }
    .slick-prev {
      left: 0;
      margin-left: -90px;
      background: url("../images/icon_slick_left.png") no-repeat center;
      background-size: contain;
    }
  }
  &__card {
    display: block;
    position: relative;
    width: 100%;
    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #5f5f5f;
      font-family: "MADE Evolve Sans";
      font-size: 25px;
      font-weight: 700;
    }
    &-small {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      max-width: 370px;
      height: 260px;
      margin-bottom: 30px;
      background-position: center;
      background-size: cover;
    }
    &-big {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 770px;
      height: 550px;
      margin-bottom: 30px;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        .y-reviews__card-play {
          transform: scale(0.9);
        }
        text-decoration: none;
      }
    }
    &-subtitle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 155px;
      height: 60px;
      margin-bottom: 10px;
      padding: 2px 20px 2px 2px;
      background: url("../images/reviews_title_bg.png") no-repeat left center;
      text-align: center;
      color: #ffffff;
      font-family: "MADE Evolve Sans";
      font-size: 30px;
      font-weight: 700;
    }
    &-play {
      display: block;
      max-width: 100%;
      transition: all 0.2s ease-out;
    }
  }
}

.y-bottom {
  display: block;
  position: relative;
  width: 100%;
  min-height: 690px;
  padding: 80px 0 60px 0;
  background: url("../images/bot_bg.png") no-repeat right
    calc((100vw - 1200px) / 2) top 60px;
  .container {
    position: relative;
    z-index: 1;
  }
  &__title {
    display: block;
    margin: 0 0 90px 0;
    color: #5f5f5f;
    font-family: "MADE Evolve Sans";
    font-size: 35px;
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 480px;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 1029px;
      height: 416px;
      top: -100px;
      left: -315px;
      pointer-events: none;
      background: url("../images/bottom_bg.png") no-repeat center;
      background-size: contain;
      z-index: -1;
    }
    ::placeholder {
      color: #bfbfbf;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 14px;
      border: 0;
      outline: 0;
      border-radius: 7px;
      background-color: #ffffff;
      color: #000000;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
    }
  }
  &__button {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 14px;
    border-radius: 7px;
    background: #f5b9cb;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #ffc6d7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__vk {
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 14px;
    border-radius: 7px;
    background: #5181b8;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    i {
      display: inline;
      margin-right: 10px;
      font-size: 18px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #6997cc;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__or {
    display: block;
    width: 100%;
    padding: 18px 0;
    background: url("../images/bottom_title_bg.png") no-repeat center;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}

.y-ig {
  display: block;
  position: relative;
  width: 100%;
  max-width: 330px;
  img {
    max-width: 100%;
  }
}

.y-footer {
  display: block;
  position: relative;
  padding: 35px 0 30px 0;
  background: url("../images/footer_bg.png") no-repeat center top;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 50px;
    background-color: #ffffff;
    color: #7e4768;
    font-family: "Geometria";
    font-size: 77px;
    font-weight: 900;
    line-height: 0.6;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.56px;
  }
  &__subtitle {
    display: inline-block;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10.27px;
  }
  &__links {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 150px;
    img {
      max-width: 100%;
    }
    a {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.y-prices {
  display: block;
  position: relative;
  width: 100%;
  min-height: 1015px;
  padding: 70px 0 55px 0;
  background: url("../images/prices_bg.png") no-repeat center top;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-family: "MADE Evolve Sans";
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  }
  &__cards {
    display: flex;
    align-items: flex-start;
  }
  &__desk {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 360px;
    margin-top: 42px;
    border-radius: 7px 0 0 7px;
    &-number {
      font-size: 25px;
      color: #502842;
      font-family: "MADE Evolve Sans";
    }
    &-title {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      color: #502842;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 400;
      b,
      strong {
        display: inline;
        font-size: 700;
      }
    }
    &-row {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 60px;
      overflow: hidden;
      padding: 4px 20px 4px 30px;
      background: #ffffff;
      text-align: left;
      img {
        max-width: 100%;
      }
      &:first-child {
        border-radius: 7px 0 0 0;
      }
      &:last-child {
        border-radius: 0 0 0 7px;
      }
      &:nth-child(2n) {
        background: #fff7f9;
      }
    }
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 270px;
    &-mob {
      display: none;
      margin: 0 0 6px 0;
      text-align: center;
    }
    &-title {
      display: block;
      margin: 0 0 12px;
      color: #ffffff;
      font-family: "MADE Evolve Sans";
      font-size: 25px;
      font-weight: 700;
      text-align: center;
    }
    &-button {
      display: inline-block;
      margin-top: 24px;
      padding: 14px 74px;
      border-radius: 7px;
      background-color: #a86c90;
      color: #ffffff;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      &_darker {
        background: #7f4869;
      }
      &_darkest {
        background: #623751;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #b9779f;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-row {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      overflow: hidden;
      padding: 4px;
      background: #fcf5f7;
      text-align: center;
      img {
        max-width: 100%;
      }
      &:nth-child(odd) {
        background: #fceef2;
      }
    }
    &-old {
      display: inline-block;
      position: relative;
      margin: 0;
      color: #502842;
      font-family: "MADE Evolve Sans";
      font-size: 24px;
      font-weight: 700;
      &:after {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #d75a4a;
        top: 48%;
        left: 0;
      }
    }
    &-new {
      display: inline-block;
      position: relative;
      margin: 0;
      color: #502842;
      font-family: "MADE Evolve Sans";
      font-size: 27px;
      font-weight: bold;
    }
    &-info {
      display: block;
      margin: 2px 0 0 0;
      color: #25ae88;
      font-family: "MADE Evolve Sans";
      font-size: 16px;
      font-weight: 400;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .y-prices__cards {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .y-bottom__form {
    padding: 20px 10px;
    background: #623751;
    &:after {
      display: none;
    }
  }
  .y-top__prep {
    background: #de95aa;
    &:after {
      display: none;
    }
  }
  .y-lessons__main {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  .y-reviews__cards .slick-next {
    margin-right: 5px;
  }
  .y-reviews__cards .slick-prev {
    margin-left: 5px;
  }
  .y-top {
    background: #f5b9cb;
  }
  .y-top__title {
    margin: 10px 0 20px 0;
    color: #e69eb4;
    font-size: 64px;
    text-align: center;
  }
  .y-top__subtitle {
    margin: -15px 0 20px 0;
    font-size: 20px;
    letter-spacing: 5px;
  }
  .y-top__what {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .y-top__prep b,
  .y-top__prep strong,
  .y-top__prep span {
    font-size: 26px;
  }
  .y-top__prep {
    margin-bottom: 20px;
    padding: 6px;
    font-size: 22px;
  }
  .y-top__get {
    font-size: 28px;
  }
  .y-top {
    min-height: auto;
    padding-bottom: 30px;
  }
  .y-lessons {
    padding: 20px 0;
  }
  .y-lessons__title {
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
  }
  .y-lessons__title img {
    max-width: 42px;
  }
  .y-lessons__main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .y-lessons__card:first-child {
    border-radius: 7px 7px 0 0;
  }
  .y-lessons__card:last-child {
    border-radius: 0;
  }
  .y-lessons__card {
    padding: 6px 12px;
  }
  .y-lessons__content {
    padding: 20px 15px;
    border-radius: 0 0 7px 7px;
  }
  .y-lessons__content-image {
    max-width: 240px;
    height: 240px;
    margin: 0 auto 15px auto;
  }
  .y-lessons__content-title {
    margin-bottom: 8px;
  }
  .y-lessons__content-subtitle {
    font-size: 22px;
  }
  .y-lessons__content ul li {
    padding-left: 14px;
  }
  .y-lessons__content ul li:before {
    left: 0;
    top: 8px;
  }
  .y-lessons__content ul {
    font-size: 18px;
  }
  .y-lessons__content-button {
    margin-top: 15px;
  }
  .y-author {
    padding: 30px 0;
    background: #623751;
  }
  .y-author__image {
    max-width: 240px;
    height: 240px;
    margin: 0 auto 15px auto;
  }
  .y-author__title {
    font-size: 28px;
  }
  .y-author__stars {
    justify-content: space-around;
    padding: 20px 0;
  }
  .y-author__star {
    margin-bottom: 15px;
  }
  .y-author__columns {
    justify-content: space-around;
  }
  .y-reviews {
    min-height: auto;
    padding: 30px 0;
  }
  .y-reviews__title {
    max-width: auto;
    margin: 0 0 20px 0;
    padding: 6px;
    background: #de95aa;
    font-size: 28px;
  }
  .y-reviews__card-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .y-reviews__card-small {
    display: inline-flex;
    max-width: 140px;
    height: 190px;
    margin-bottom: 5px;
  }
  .y-reviews__card-subtitle {
    margin: 0;
    opacity: 0.8;
  }
  .y-reviews__card-big {
    max-width: 400px;
    height: 220px;
    margin-bottom: 10px;
  }
  .y-reviews__card-play {
    max-width: 50px;
  }
  .y-prices {
    min-height: auto;
    padding: 20px 0;
    background: #e09cb0;
  }
  .y-prices__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .y-prices__desk {
    display: none;
  }
  .y-prices__card-row {
    height: auto !important;
    padding: 6px;
  }
  .y-prices__card-mob {
    display: block;
  }
  .y-prices__card-button {
    margin: 10px auto 30px auto;
  }
  .y-bottom {
    min-height: auto;
    padding: 30px 0;
  }
  .y-bottom__title {
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
  }
  .y-footer {
    padding: 30px;
    background: #7e4768;
    & > .container {
      justify-content: space-around;
    }
  }
  .y-footer__title {
    max-width: auto;
    height: auto;
    padding: 12px;
    font-size: 44px;
    text-align: center;
  }
  .y-footer__subtitle {
    margin: 15px 0;
    letter-spacing: 5px;
    text-align: center;
  }
  .y-bottom__form {
    border-radius: 7px;
  }
  .y-author__columns {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .y-hide-mob {
    display: none;
  }
  .y-reviews__card {
    .col-lg-4 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
    }
  }
  .y-reviews__card-small {
    margin: 0 2px 4px 2px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}
